<nav class="navbar">
  <div class="container d-flex align-items-center justify-content-start">
    <%= link_to root_path, class: "navbar-brand me-4" do %>
      <i class="fas fa-gamepad me-2"></i>
      Polish My Game
    <% end %>
    
    <div class="navbar-nav d-flex flex-row">
      <%= link_to "Home", root_path, class: "nav-link" %>
      <%= link_to "Games", games_index_path, class: "nav-link" %>
      <%= link_to "Reviews", "https://warp-meal-189.notion.site/Steam-Page-Reviews-21153330309f80669911c9ce0f711079", class: "nav-link", target: "_blank" %>
      <%= link_to "Contact", contact_path, class: "nav-link" %>
    </div>
  </div>
</nav>