<!-- Results Section -->
<div id="results" class="mt-5">
  <h2 class="text-center mb-4">Analysis Results for "<%= @game_data['name'] %>"</h2>
  
  <!-- Description Analysis Section -->
  <%= render "description_section", text_report: @text_report, ai_suggestions: @ai_suggestions %>
  
  <!-- Visuals Analysis Section -->
  <%= render "visuals_section", visual_report: @visual_report %>
  
  <!-- Tags Analysis Section -->
  <%= render "tags_section", tags_list: @tags_list, tags_score: @tags_score, tags_feedback: @tags_feedback %>

  <!-- Capsule Image Analysis Section -->
  <% if @game_data["capsule_image_url"].present? %>
    <div class="card bg-dark text-light border-secondary mt-4">
      <div class="card-header">
        <h3 class="mb-0">Capsule Image Analysis</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img src="<%= @game_data['capsule_image_url'] %>" alt="Game Capsule" class="img-fluid rounded">
          </div>
          <div class="col-md-8">
            <% if @image_suggestions.present? %>
              <div class="mb-4">
                <h4>Improvement Suggestions</h4>
                <%= simple_format(@image_suggestions) %>
              </div>
            <% end %>

            <% if @image_validation.present? %>
              <div>
                <h4>Validation Report</h4>
                <%= simple_format(@image_validation) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div> 